@media(max-width:1870px) {
    .read {
        width: 75%;
    }

    .abrirModal1 {
        width: 10vw;
    }

    .infoData {
        margin: 7px;
    }
}

@media (max-width:1440px) {

    .notification {
        width: 15px;
        height: 15px;
    }

    .count {
        font-size: 0.9em;
    }

    .infoData {
        height: 65%;
    }

    .descricaoLocalizacao {
        font-size: 1.6em;
    }

    .formLocal>input {
        width: 40%;
    }

    .formLocal>button {
        height: 5vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.6em;
    }

    .formLocal>label {
        font-size: 1.5em;
    }



    .inputsCadastro {
        height: 75vh;
        width: 30vw;
    }
}

@media (max-width:1260px) {

    .notification {
        top: 15%;
    }

    .infoData {
        height: 50%;
    }

    .readInfo {
        height: 30vh;
        width: 280px;
    }

    .endereco,
    .data {
        font-size: 0.9em;
        margin: 10px;
    }
}

@media (max-width:1200px) {
    .descricaoLocalizacao {
        font-size: 1.5em;
    }
}

@media (max-width:1140px) {
    .descricaoLocalizacao {
        font-size: 1.4em;
    }

    .infoData {
        height: 70%;
        padding: 2%;
    }

    .imgLocalizacao,
    .imgCalendario {
        height: 3vh;
    }

    .endereco,
    .data {
        font-size: 0.9em;
        margin: 7px;
    }


}

@media (max-width:1090px) {
    .descricaoLocalizacao {
        font-size: 1.3em;
    }

    .buttonTop {
        height: 6vh;
        width: 3vw;
    }

}

@media (max-width:1000px) {
    .descricaoLocalizacao {
        font-size: 1.2em;
    }

    .iconsImgs {
        margin-right: 12%;
        height: 3vh;
        width: 2vw;
    }

    .notification {
        width: 15px;
        height: 15px;
    }
}

@media (max-width:900px) {
    .descricaoLocalizacao {
        font-size: 1.1em;
    }

    .abrirModal1 {
        width: 12vw;
        height: 7vh;
    }

    .readInfo {
        height: 30vh;
        width: 250px;
    }

    .read {
        width: 70%;
    }

    .abrirModalEncontrarAmigo {
        margin-top: 0;
    }
}

@media (max-width:830px) {
    .notification {
        width: 12px;
        height: 12px;
        font-size: 0.8em;
    }

    .descricaoLocalizacao {
        font-size: 1em;
    }

    .buttonTop {
        right: 18%;
    }

    .filtro {
        flex-direction: column;
    }

    .teste {
        margin-bottom: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filtroTituloPartidas {
        margin-left: 0;
    }

    .abrirModal1 {
        width: 15vw;
    }
}

@media (max-width:770px) {
    .descricaoLocalizacao {
        font-size: 1em;
    }

    .formLocal>input {
        width: 40%;
    }

    .formLocal>button {
        height: 5vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.2em;
    }

    .formLocal>label {
        font-size: 1.2em;
    }
}

@media(max-width:742px) {
    .readInfo {
        height: 35vh;
        width: 280px;
    }

    .infoData {
        height: 55%;
        margin: 0;
    }

    .friends {
        display: none;
    }

    .read {
        width: 88%;
    }

    .buttonTop {
        right: 0;
        width: 4vw;
        margin-right: 20px;
    }

    .imgPerfil {
        height: 7vh;
        width: 5vw;
    }

    .iconsImgs {
        margin-right: 80%;
        height: 3vh;
        width: 2vw;
    }

    .notification {
        right: 55%;
    }

    .usuarioLogado{
        justify-content: space-around;
    }

    .imgAmigo{
        margin-right: 15%;
        display: block;
    }


}

@media (max-width:650px) {
    .localizacao {
        height: 110vh;
    }

    .descricaoLocalizacao {
        display: none;
    }

    .formLocal {
        width: 100%;
    }

    .infoLocalizacao {
        height: 60%;
        width: 70%;
    }

    .formLocal>input {
        width: 60%;
    }

    .formLocal>button {
        height: 7vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.4em;
    }

    .formLocal>label {
        font-size: 1.2em;
    }

    .abrirModal1 {
        width: 25vw;
    }

    .buttonTop {
        right: 15%;
        width: 4vw;
    }

    .usuarioLogado{
        display: none;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgAmigo{
        margin-right: 0;
        display: flex;
    }

    .iconsImgs{
        margin: 0;
        height: 5vh;
        width: 3vw;
    }
    
    .notification{
        top: 0;
        right: 48%;
    }

    .imgPerfil{
        position: inherit;
        height: 8vh;
        width: 6vw;
    }

}

@media(max-width:500px) {
    .friends {
        display: none;
    }

    .read {
        width: 100%;
    }

    .buttonTop {
        width: 6vw;
        right: 5%;
        margin-right: 0;
    }

    /* .iconsImgs {
        margin-right: 90%;
    } */

    /* .notification{
        right: 70%;
    } */


    header a h1 {
        font-size: 1.5em;
    }
}


@media(max-width:430px) {
    .localizacao {
        height: 110vh;
    }

    .descricaoLocalizacao {
        display: none;
    }

    .formLocal {
        width: 100%;
    }

    .infoLocalizacao {
        height: 60%;
        width: 70%;
    }

    .formLocal>input {
        width: 60%;
    }

    .formLocal>button {
        height: 7vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.4em;
    }

    .formLocal>label {
        font-size: 1.2em;
    }

    .buttonTop {
        width: 6vw;
        right: 4%;
        margin-right: 0;
    }

    .readInfo {
        height: 30vh;
        width: 250px;
    }
}

@media(max-width:350px) {
    .localizacao {
        height: 120vh;
    }

    .readInfo {
        height: 30vh;
        width: 210px;
    }
}