@media(max-width:1870px) {
    .read {
        width: 75%;
    }

    .abrirModal1 {
        width: 10vw;
    }

    .infoData {
        margin: 7px;
    }

    .readInfo {
        height: 30vh;
    }
}

@media (max-width:1440px) {

    .inputsAtualizarEncontro{
        height: 55vh;
    }
    
    .btnAtualizarEncontro{
        height: 5vh;
        width: 10vw;
    }

    .descricaoEncontro {
        margin-bottom: 10%;
    }

    .inputsCadastro {
        height: 69vh;
        width: 50vh;
    }

    .formularioCadastroPartida {
        height: 80%;
    }

    .notification {
        width: 15px;
        height: 15px;
    }

    .count {
        font-size: 0.9em;
    }

    .infoData {
        height: 65%;
    }

    .descricaoLocalizacao {
        font-size: 1.5em;
    }

    .formLocal>input {
        width: 40%;
    }

    .formLocal>button {
        height: 5vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.6em;
    }

    .formLocal>label {
        font-size: 1.5em;
    }

}

@media(max-width:1280px) {

    .imgFundo{
        height: 35%;
    }

    .infoUserSolicitacao {
        width: 65vh;
    }

    .usuariosPesquisa {
        width: 25vw;
    }

    .inputsCadastro {
        height: 80vh;
        width: 50vh;
    }
}

@media (max-width:1260px) {

    .inputsCadastro {
        height: 75vh;
        width: 50vh;
    }

    .notification {
        top: 15%;
    }

    .infoData {
        height: 50%;
    }

    .readInfo {
        height: 30vh;
        width: 280px;
    }

    .endereco,
    .data {
        font-size: 0.9em;
        margin: 10px;
    }
}

@media (max-width:1200px) {
    .descricaoLocalizacao {
        font-size: 1.5em;
    }
}

@media(max-width:1170px) {

    .time1,
    .time2,
    .versus {
        height: 100px;
        width: 100px;
    }

    .detalhePartida {
        width: 90%;
    }

    .descricaoEncontro,
    .local,
    .date {
        font-size: 0.8em;
    }
}

@media (max-width:1140px) {

    .inputsConvidarAmigo{
        width: 70vh;
    }

    .btnConvidar{
        width: 8vw;
    }

    .descricaoLocalizacao {
        font-size: 1.4em;
    }

    .infoData {
        height: 70%;
        padding: 2%;
    }

    .imgLocalizacao,
    .imgCalendario {
        height: 3vh;
    }

    .endereco,
    .data {
        font-size: 0.9em;
        margin: 7px;
    }


}

@media (max-width:1090px) {
    .descricaoLocalizacao {
        font-size: 1.3em;
    }

    .buttonTop {
        height: 6vh;
        width: 3vw;
    }

    .formularioCadastroPartida {
        height: 78%;
    }

    .formularioCadastroPartida>label {
        color: white;
        font-size: 1em;
    }

    #timeSubmit,
    #dataSubmit {
        height: 8vh;
    }

    .participantes {
        height: 70%;
    }

    .modalConfigEncontro {
        top: 48%;
        right: 20%;
    }

}

@media (max-width:1000px) {

    .time1,
    .time2,
    .versus {
        height: 80px;
        width: 80px;
    }

    .imgFundo{
        height: 32%;
    }

    .infoUserSolicitacao {
        width: 60vh;
    }

    .usuariosPesquisa {
        width: 30vw;
    }

    .formularioCadastroPartida {
        margin-bottom: 5%;
    }

    .descricaoLocalizacao {
        font-size: 1.2em;
    }

    .iconsImgs {
        margin-right: 12%;
        height: 3vh;
        width: 2vw;
    }

    .notification {
        width: 15px;
        height: 15px;
    }

    .detalhesEncontro {
        width: 90%;
    }

    .modalConfigEncontro {
        right: 10%;
    }
}

@media (max-width:900px) {

    .inputsCadastro {
        height: 80vh;
    }

    .descricaoLocalizacao {
        font-size: 1.1em;
    }

    .abrirModal1,
    .btnAlterarLocal {
        width: 12vw;
        height: 7vh;
    }

    .readInfo {
        height: 30vh;
        width: 250px;
    }

    .read {
        width: 70%;
    }

    .abrirModalEncontrarAmigo {
        margin-top: 0;
    }
}

@media (max-width:830px) {

    .inputsAtualizarEncontro{
        height: 70vh;
    }

    .btnAtualizarEncontro{
        margin-top: 22%;
        width: 20vw;
    }

    .inputsConvidarAmigo{
        width: 70vw;
    }

    .btnConvidar{
        width: 10vw;
    }

    .nomeSolicitacaoConvite,
    .nomeSolicitacao {
        font-size: 1em;
    }

    .btnsRespostaConvite img,
    .btnsResposta img {
        height: 25px;
        width: 25px;
    }

    .notification {
        width: 12px;
        height: 12px;
        font-size: 0.8em;
    }

    .descricaoLocalizacao {
        font-size: 1em;
    }

    .buttonTop {
        right: 18%;
    }

    .filtro {
        flex-direction: column;
    }

    .teste {
        margin-bottom: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filtroTituloPartidas {
        margin-left: 0;
    }

    .abrirModal1,
    .btnAlterarLocal {
        width: 15vw;
    }
}

@media (max-width:770px) {

    .infoUserSolicitacao {
        height: 50vh;
        width: 80vh;
    }

    .usuariosPesquisa {
        width: 45vw;
    }

    .enviar {
        width: 10vw;
    }

    .btnAbrirModalCriaLocal {
        height: 30px;
        width: 30px;
    }

    .formularioCadastroPartida input {
        width: 70%;
    }

    .descricaoLocalizacao {
        font-size: 1em;
    }

    .formLocal>input {
        width: 40%;
    }

    .formLocal>button {
        height: 5vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.2em;
    }

    .formLocal>label {
        font-size: 1.2em;
    }
}

@media(max-width:742px) {

    .infoUserSolicitacao{
        width: 70vh;
    }

    .verPerfil {
        height: 15vh;
        width: 25vw;
    }

    .readInfo {
        height: 35vh;
        width: 280px;
    }

    .infoData {
        height: 55%;
        margin: 0;
    }

    .friends {
        display: none;
    }

    .read {
        width: 88%;
    }

    .buttonTop {
        right: 0;
        width: 4vw;
        margin-right: 20px;
    }

    .imgPerfil {
        height: 7vh;
        width: 5vw;
    }

    .iconsImgs {
        margin-right: 80%;
        height: 3vh;
        width: 2vw;
    }

    .notification {
        right: 55%;
    }

    .usuarioLogado {
        justify-content: space-around;
    }

    .imgAmigo {
        margin-right: 15%;
        display: block;
    }
}

@media (max-width:650px) {

    .infoUserSolicitacao{
        width: 55vh;
    }

    .btnConvidar{
        width: 12vw;
    }

    .time1,
    .time2,
    .versus {
        height: 60px;
        width: 60px;
    }

    .descricaoEncontro{
        margin-bottom: 7%;    
    }
    
    .imgPerfil2 {
        height: 8vh;
        width: 8vw;
    }

    .verPerfil {
        bottom: 10%;
        right: 2%;
        height: 20vh;
        width: 27vw;
    }

    .friends {
        width: 100%;
        background-color: var(--textoHome);
    }

    .notificacoes {
        width: 100%;
    }

    .detalhesEncontro {
        flex-direction: column;
        height: 80%;
    }

    .descricaoModalEncontro {
        width: 100%;
        height: 100vh;
    }

    .modalConfigEncontro {
        top: 50%;
        right: 15%;
    }

    .participantes {
        width: 50%;
    }

    .detalhePartida {
        margin: 0;
    }


    .formularioCadastroPartida {
        height: 80%;
    }

    .formularioCadastroPartida>label {
        font-size: 0.8em;
    }

    .formularioCadastroPartida>input,
    .btnsLocais input {
        font-size: 1em;
    }

    .enviar {
        width: 12vw;
    }

    .inputsCadastro {
        height: 70vh;
        margin-bottom: 10%;
    }

    .localizacao {
        height: 110vh;
    }

    .descricaoLocalizacao {
        display: none;
    }

    .formLocal {
        width: 100%;
    }

    .infoLocalizacao {
        height: 60%;
        width: 70%;
    }

    .formLocal>input {
        width: 60%;
    }

    .formLocal>button {
        height: 7vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.4em;
    }

    .formLocal>label {
        font-size: 1.2em;
    }

    .abrirModal1,
    .btnAlterarLocal {
        width: 25vw;
    }

    .buttonTop {
        right: 15%;
        width: 4vw;
    }

    .usuarioLogado {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgAmigo {
        margin-right: 0;
        display: flex;
    }

    .iconsImgs {
        margin: 0;
        height: 5vh;
        width: 3vw;
    }

    .notification {
        top: 0;
        right: 49%;
    }

    .imgPerfil {
        position: inherit;
        height: 8vh;
        width: 6vw;
    }

    .buttonTop {
        bottom: 5%;
    }
}

@media(max-width:540px) {

    .btnConvidar{
        width: 15vw;
    }

    .infoUserSolicitacao {
        width: 50vh;
    }

    .usuariosPesquisa {
        width: 50vw;
    }

    .detalhesEncontro {
        width: 85%;
    }

    .verPerfil {
        width: 35vw;
    }

}

@media(max-width:500px) {

    .btnAtualizarEncontro{
        width: 30vw;
    }

    .modalConfigEncontro{
        right: 0;   
    }

    .participantes{
        width: 70%;
    }

    .iconsImgs {
        width: 4vw;
    }

    .read {
        width: 100%;
    }

    .buttonTop {
        width: 6vw;
        right: 5%;
        margin-right: 0;
    }

    header a h1 {
        font-size: 1.5em;
    }

    .enviar {
        width: 15vw;
    }
}

@media(max-width:470px){
    .infoUserSolicitacao {
        width: 40vh;
    }
}

@media(max-width:450px) {

    .verPerfil {
        width: 45vw;
    }

    .descricaoEncontro{
        margin: 1%;
    }

    .participantes{
        width: 60%;
    }

    .local,
    .date {
        font-size: 0.7em;
    }

    .descricaoModalEncontro {
        height: 90%;
    }

    .modalConfigEncontro {
        right: 5%;
    }

    .imgLocalizacaoEncontro,
    .imgData {
        height: 3vh;
    }



    .usuariosPesquisa {
        font-size: 0.8em;
    }

    .btnAddAmigo {
        padding: 2px;
    }
}

@media(max-width:430px) {

    .infoUserSolicitacao {
        width: 30vh;
    }
   
    .btnConvidar{
        width: 20vw;
    }

    .btnOptions{
        padding: 0;
    }

    .infoPartida{
        height: 100%;
    }

    .participantes{
        height: 30%;
    }

    .detalhesEncontro{
        height: 65%;
    }

    .buttonConfirmar{
        margin-top: 35%;
    }

    .modalConfigEncontro{
        top: 60%;
        right: 30%;
    }

    .nomeParticipante{
        font-size: 0.8em;
    }

    .participantes{
        width: 100%;
    }

  

    .usuariosPesquisa {
        width: 60vw;
    }

    .localizacao {
        height: 110vh;
    }

    .descricaoLocalizacao {
        display: none;
    }

    .formLocal {
        width: 100%;
    }

    .infoLocalizacao {
        height: 60%;
        width: 70%;
    }

    .formLocal>input {
        width: 60%;
    }

    .formLocal>button {
        height: 7vh;
        margin-top: 10%;
        width: 40%;
        font-size: 1.4em;
    }

    .formLocal>label {
        font-size: 1.2em;
    }

    .buttonTop {
        width: 6vw;
        right: 4%;
        margin-right: 0;
    }

    .readInfo {
        height: 30vh;
        width: 250px;
    }
}

@media(max-width:350px) {

    .iconsImgs {
        width: 5vw;
    }

    .imgPerfil2 {
        width: 10vw;
    }

    .localizacao {
        height: 120vh;
    }

    .readInfo {
        height: 30vh;
        width: 210px;
    }
}