:root {
    --backgroundHome: #012340;
    --backgroundLogin: #025959;
    --textoHome: #04D939;
    --textoHome2: #00f63e;
    --cor4: #027333;
    --cor5: #03A63C;
    --cor6: #00bdec;
    --header: cadetblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: var(--header);
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #012340;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundHome);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

.read {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    width: 80%;
    margin-left: 3vh;
    gap: 10px;
    padding: 30px;
    margin-top: 5vh;
}

.friends {
    text-align: center;
    top: 0;
    right: 0;
    position: fixed;
    background-color: var(--header);
    min-height: 100%;
    max-height: auto;
    width: 18%;
}

.abrirModal1 {
    position: absolute;
    height: 4vh;
    width: 4vh;
    border-radius: 25px;
    background-color: var(--cor5);
    color: white;
    margin-left: 1vh;
    margin-top: 10vh;
}

.readInfo {
    background-color: var(--backgroundLogin);
    flex-wrap: wrap;
    border-radius: 25px;
    border: 2px solid rgb(130, 179, 212);
    height: 250px;
    width: 350px;
    font-size: 20px;
    transition: transform 1s;
}

.readLocal {
    display: flex;
    flex-direction: column;
}

.readInfo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.titulos {
    width: 100%;
    text-align: center;
}

.idLocal {
    position: absolute;
    padding-left: 12px;
}

.titulo {}

.imgEsporte {
    height: 50%;
    margin-top: 10px;
    text-align: center;
}

.iconeEsporte {
    height: 80px;
    width: 80px;
}

.infoData {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
}



.model {
    display: none;
    visibility: hidden;
}

/* MODAL cadastrar */

.readInferior {
    display: none;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    height: 110vh;
    width: 100%;
    background-color: #0123405b;
    align-items: center;
    justify-content: center;
}

.inputsCadastro {
    display: grid;
    justify-content: center;
    text-align: center;
    height: 40vh;
    width: 50vh;
    background-color: var(--backgroundHome);
    border: 2px solid var(--textoHome2);
    border-radius: 10px;
}

.inputsCadastro>input {
    width: 20vh;
    height: 3vh;
    margin-top: 15px;
}

.sair {
    position: absolute;
    margin: 1vh;
    height: 4vh;
    width: 4vh;
    border-radius: 25px;
    background-color: var(--cor6);
    color: var(--backgroundHome);
}

.enviar {
    height: 3vh;
    background-color: #1d20249c;
    color: white;
    border-color: var(--textoHome2);
    border-top: none;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}

.filtro{
    text-align: center;
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
    border-radius: 25px;
    padding-right:30px ;
}

.filtroPartidas{
    background-color: transparent;
    height: 40px;
    width: 500px;
    padding: 30px 60px 30px 30px;
    border: none;
    background-color: #025959;
    border-radius:  30px;
    color:white;
    font-size: 22px;
}

.iconeBusca {
    height: 35px;
    width: 35px;
}

img.iconeBusca {
    margin-left: -50px;
}