@media (max-width:1870px) {
    .imguser {
        height: 22vh;
        width: 12vw;
    }
}

@media (max-width:790px) {
    .histo {
        overflow-x: scroll;
    }

    td {
        padding: 10px;
    }

    .attimage {
        height: 15vh;
        width: 12vw;
        right: 35%;
    }

    .imguser {
        height: 22vh;
        width: 14vw;
    }
}

@media (max-width:700px) {
    thead {
        display: none;
    }

    td {
        display: flex;
        flex-direction: column;
        padding: 7px;
    }

    .infoUser {
        width: 40%;
    }

    .attimage {
        height: 20vh;
        width: 15vw;
        right: 35%;
    }

    .imguser {
        height: 20vh;
        width: 15vw;
    }
    .nomeUsuario {
        font-size: 2em;
    }

}

@media (max-width:570px){
    .attimage {
        height: 20vh;
        width: 15vw;
        right: 35%;
    }

    .imguser {
        height: 20vh;
        width: 18vw;
    }
}

@media (max-width:500px) {
    .nomeUsuario {
        font-size: 1.5em;
    }

    .partidasJogadas,
    .amigos {
        font-size: 0.8em;
    }

    .infoUser {
        width: 60%;
    }
}

@media (max-width:470px) {
    .attimage {
        height: 20vh;
        width: 18vw;
        right: 35%;
    }

    .imguser {
        height: 21vh;
        width: 24vw;
    }
}

@media (max-width:410px) {
    .infoUser{
        width: 60%;
    }
}

@media (max-width:350px) {

    .infoUser{
        width: 60%;
    }
    
    .attimage {
        height: 20vh;
        width: 20vw;
        right: 35%;
    }

    .imguser {
        height: 20vh;
        width: 30vw;
    }
}