:root {
    --backgroundHome: #012340;
    --backgroundLogin: #025959;
    --textoHome: #04D939;
    --textoHome2: #00f63e;
    --cor4: #027333;
    --cor5: #03A63C;
    --cor6: #00bdec;
    --header: cadetblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: var(--header);
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundHome);
}

.infoUser {
    height: 35vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
    position: relative;
}

.dadoss {
    height: 85%;
    width: 100%;
    display: grid;
    justify-items:center
}

.nomeUsuario {
    grid-area: nomeUsuario;
}

.partidasJogadas {
    grid-area: partidasJogadas;
}

.dataNascimento {
    grid-area: dataNascimento;
}

.amigos {
    grid-area: amigos;
}

.esporte {
    grid-area: esporte;
}

.relacionamento {
    grid-area: relacionamento;
}

.cidade {
    grid-area: cidade;
}

.buttons{
    display: flex;
    width: 100%;
    gap: 10px;
    position: absolute;
    bottom: 0;
    margin: 0 10px 20px 10px;
}

.btnEditarPerfil {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.btn {
    height: 50px;
    width: 50px;
    background-color:#00bdec;
    border: none;
    cursor: pointer;
}

.grid-template-areas-5 {
    grid-template-areas:
        "nomeUsuario  amigos . dataNascimento"
        "partidasJogadas esporte cidade relacionamento"
}


.historico {
    height: 90vh;
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}

.graficos {
    height: 100%;
    width: 45%;
}

.partidas {
    height: 100%;
    width: 45%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.partidas,
.graficos,
.infoUser {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(14, 34, 99);
}

.infoPartida {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #00bdec; */
    font-size: 20px;
}

.infoPartida:hover {
    /* background-color: #00bdec; */
    background-color: var(--backgroundLogin);
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
}

.sobre {
    height: 100vh;
}

.modal {
    background-color: #0123405b;
    height: 100vh;
    width: 100%;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.itensModal {
    height: 50%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.btnFecharModal {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.btnFecharModal:hover, .btnFechaModalAmigos:hover, .btnFechaModalNotificacao:hover {
    background-color: #025959;
    color: white;
    cursor: pointer;
}

.modalAtualizarPerfil,
.modalNotificacao,
.modalAmigos {
    background-color: #0123405b;
    color: black;
    height: 100vh;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
}

.atualizarPerfil,
.notificacaoModal,
.amigosModal {
    height: 50%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.btnFechaModalAtualizarPerfil,
.btnFechaModalNotificacao,
.btnFechaModalAmigos {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.btnFechaModalAtualizarPerfil:hover {
    background-color: #025959;
    color: white;
    cursor: pointer;
}

.btnAtualizarPerfil {
    height: 35px;
    width: 60px;
    margin: 10px;
    border-radius: 30px;
}

.btnAtualizarPerfil:hover {
    background-color: #012340;
    color: white;
    cursor: pointer;
}

.model {
    display: none;
}