/* :root {
    --backgroundHome: #012340;
    --backgroundLogin: #025959;
    --cor4: #008F8C;
    --cor5: #0CABA8;
    --textoHome: #0FC2C0;
} */
:root {
    --backgroundHome: #B9B4D9;
    --backgroundLogin: #1A1E26;
    --cor4: #5D75A6;
    --cor5: #405173;
    --textoHome: #283040;
}

a {
    text-decoration: none;
    color: var(--backgroundHome);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: var(--backgroundLogin);
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.infoEncontro {
    position: relative;
    height: 100%;
}

.imgFundo {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalhePartida {
    width: 100%;
    position: absolute;
    margin: 5%;
}

.imgLocalizacaoEncontro,
.imgData {
    height: 40px;
    width: 40px;
}

.date {
    display: flex;
    align-items: center;
}

.tituloEncontro {
    font-size: 3em;
    margin-bottom: 10%;
}

.enderecoEncontro {
    width: 100%;
}

.local {
    width: 100%;
    display: flex;
}

.time1,
.time2,
.versus {
    height: 120px;
    width: 120px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor5);
}

.infoUser {
    height: 35vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
    position: relative;
}

.dadoss {
    height: 85%;
    width: 100%;
    display: grid;
    justify-items: center
}

.nomeUsuario {
    grid-area: nomeUsuario;
}

.dataNascimento {
    grid-area: dataNascimento;
}

.amigos {
    grid-area: amigos;
}

.esporte {
    grid-area: esporte;
}

.relacionamento {
    grid-area: relacionamento;
}

.btnEditarPerfil {
    grid-area: buttons;
}

.cidade {
    grid-area: cidade;
}

.buttons {
    display: flex;
    width: 100%;
    gap: 10px;
    position: absolute;
    bottom: 0;
    margin: 0 10px 20px 10px;
}

.btnNotificacao,
.btnAmigos {
    height: 40px;
    width: 40px;
    background-color: var(--cor5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.btnEditarPerfil {
    height: 30px;
    width: 80px;
    background-color: var(--cor5);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.btnNotificacao:hover,
.btnAmigos:hover,
.btnEditarPerfil:hover {
    background-color: var(--textoHome);
}

.imgNotificacao,
.imgAmigos {
    height: 25px;
    width: 25px;
}

.grid-template-areas-5 {
    margin-top: 10px;
    grid-template-areas:
        "nomeUsuario btnEditarPerfil . dataNascimento"
        "partidasJogadas esporte cidade relacionamento"
}


.historico {
    height: 90vh;
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}

.graficos {
    height: 100%;
    width: 45%;
}

.partidas {
    height: 100%;
    width: 70%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.partidas,
.graficos,
.infoUser {
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--backgroundLogin)
}

.infoPartida {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.infoPartida:hover {
    background-color: var(--cor4);
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
}

.sobre {
    height: 100vh;
}

.modal {
    /* background-color: var(--backgroundHome); */
    height: 100vh;
    width: 100%;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.itensModal {
    height: 50%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    position: relative;
    color: black;
}

.detalhesEncontro {
    color: white;
    height: 100%;
    width: 60%;
    background-color: var(--textoHome);
}

.participantes {
    color: white;
    height: 100%;
    width: 40%;
    background-color: var(--textoHome);
}

.btnFecharModal {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.btnFecharModal:hover,
.btnFechaModalAmigos:hover,
.btnFechaModalNotificacao:hover {
    background-color: #025959;
    color: white;
    cursor: pointer;
}

.modalAtualizarPerfil,
.modalNotificacao,
.modalAmigos {
    background-color: #0123405b;
    color: black;
    height: 100vh;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
}

.atualizarPerfil,
.notificacaoModal {
    height: 30%;
    width: 20%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.amigosModal {
    height: 30%;
    width: 20%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.atualizarPerfil>form {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoAmigos {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btnFechaModalAtualizarPerfil,
.btnFechaModalNotificacao,
.btnFechaModalAmigos {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.btnFechaModalAtualizarPerfil:hover {
    background-color: #025959;
    color: white;
    cursor: pointer;
}

.btnAtualizarPerfil {
    height: 35px;
    width: 60px;
    margin: 10px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

.btnAtualizarPerfil:hover {
    background-color: #012340;
    color: white;
    cursor: pointer;
}

.infoParticipantes {
    display: flex;
}

.model {
    display: none;
}

.time1,
.versus,
.time2,
.imgLocalizacaoEncontro,
.imgData,
.btnAmigos {
    filter: invert(100%)
}