/* :root {
    --backgroundHome: #012340;
    --backgroundLogin: #025959;
    --textoHome: #04D939;
    --textoHome2: #00f63e;
    --cor4: #027333;
    --cor5: #03A63C;
} */

:root {
    --teste: #04D939;
    --backgroundHome: #B9B4D9;
    --backgroundLogin: #1A1E26;
    --cor4: #5D75A6;
    --cor5: #405173;
    --textoHome: #283040;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundLogin);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.login-cadastro {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoes {
    display: flex;
    margin-bottom: 30px;
}

.titulo {
    font-size: 35px;
    color: var(--textoHome2);
}

.descricao {
    margin-top: 5%;
    text-align: justify;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white;
    cursor: pointer;
    font-size: 35px;
    padding: 5% 5% 5% 0;
    margin-right: 10px;
    transition: 0.5s ease;
}

.btn-login {
    color: var(--cor4);
}

.btn-cadastro {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.btn-cadastro:hover {
    color: var(--cor4);
    opacity: 1;
    filter: none;
}

.botoes:hover .btn:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario form input {
    height: 40px;
    width: 350px;
    background-color: transparent;
    border: transparent;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5%;
}

.formulario form button {
    height: 40px;
    width: 300px;
    background-color: var(--cor4);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario>form>input::placeholder {
    color: #fff;
}

.btns {
    border: transparent;
    height: 40px;
    color: white;
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 10px;
}

.btns:hover {
    cursor: pointer;
    background-color: #5ac400;
}

.formulario-cadastro {
    display: none;
}

.error {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.img {
    height: 170px;
    width: 170px;
}

.carrosel {
    height: 100vh;
    width: 50%;
    display: flex;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    top: -0;
    right: 0;
}

.apresentacao {
    height: 100%;
    width: 40%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-carrosel {
    height: 101vh;
    width: 50vw;
}