:root {
    --backgroundHome: #012340;
    --backgroundLogin: #025959;
    --textoHome: #04D939;
    --textoHome2: #00f63e;
    --cor4: #027333;
    --cor5: #03A63C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundLogin);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
}

.main {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 35px;
    color: var(--textoHome2);
}

.descricao {
    margin-top: 5%;
    text-align: justify;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.buttons {
    display: flex;
    margin-bottom: 30px;
}

.btn {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white;
    cursor: pointer;
    font-size: 35px;
    padding: 5% 5% 5% 0;
    margin-right: 10px;
    transition: 0.5s ease;
}

.btn.login {
    color: var(--textoHome);
}

.btn.cadastro {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.btn.cadastro:hover {
    color: var(--textoHome);
    opacity: 200;
    filter: none;
}

.buttons:hover .btn:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.form1 {
    display: flex;
    flex-direction: column;
}

.formulario>form>input {
    height: 40px;
    width: 350px;
    background-color: transparent;
    border: transparent;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5%;
}

.formulario>form>button {
    height: 40px;
    width: 300px;
}

.formulario>form>input::placeholder {
    color: #fff;
}

.btns {
    background-color: transparent;
    border: transparent;
    height: 40px;
    background-color: var(--backgroundHome);
    color: white;
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 10px;
}

.btns:hover {
    cursor: pointer;
    background-color: #5ac400;
}

.formulario.cadastro {
    display: none;
}

.error {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.img {
    height: 170px;
    width: 170px;
}

.teste {
    height: 100vh;
    width: 50%;
    display: flex;
    background-image: url('https://s2.glbimg.com/K8R490sQpVFgF3IHpCIxpOPSsxc=/0x0:1024x683/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2020/y/n/OOS44wQvO5HObWCRAK9A/gettyimages-1198051481.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    top: -0;
    right: 0;
}

.apresentacao {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}